/* generals */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
}
ul{
    list-style-type: none;
    min-width: 550px;
    display: flex;
    flex-flow: row nowrap;
    flex-grow: inherit;
    justify-content: space-around;


}
.container{
    width: 75%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center ;
}
.button-white{
    color: #23272a;
    background-color: white;
    padding: 15px 25px;
    border-radius: 50px;
}
.button-black{
    color: white;
    background-color: #23272a;
    padding: 15px 25px;
    border-radius: 50px;
}
img{
    object-fit: contain;
}

/* specifiche header */

header{
    color: #fff;
    height: 70px;
    width: 100%;
    background-color: #255EE9;
    display: flex;
    flex-flow: row;
}
.small-header-sect{
    height: 50%;
    width: 200px;
    display: flex;
    align-items: center;
}
.big-header-sect{
    height: 50%;
    min-width: 550px;
    display: flex;
    flex-grow: 2;
    align-items: center;
}
#login-header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* main */

main{
    height: 4000px;
    display: flex;
    flex-flow: column;
}

/* jumbotron */

.jumbotron{
    height: 100%;
    width: 100%;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
}
.jumbotron-content{
    height: 85%;
    width: 65%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
.jumbotron-content h1, p{
    color: white;
}
.jumbotron-content h1{
    font-size: 60px;
    margin-bottom: 50px;
}
.jumbotron-content p{
    font-size: 22px;
    text-align: center;
}
#jumbotron-text{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
#jumbotron-button{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: auto;
    margin-top: 40px;
}
#jumbotron-button div{
    font-size: 1.5em;

}
/* main .main-sections */

.main-sections{
    height: 100%;
    width: 100%;
    background-color: #F6F6F6;

}
.white-bg{
    background-color: #fff;
}
.text-block{   
    width: 40%;
    height: 85%;
    padding: 50px 85px;
    color: #232323;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: flex-start;
}
.img-block{
    width: 60%;
    height: 85%;
    background-image: url(../img/item1.svg);
    background-repeat: no-repeat;
    background-size: 85%;
    background-position: 50%;
}
#second-image{
    background-image: url(../img/item2.svg);
}
#third-image{
    background-image: url(../img/item3.svg);
}
.middle{
    order: 1;
}
.final-section{
    background-color: #232323;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
#fix-final-section{
    justify-content: center;
    align-items: center;
}
.sub-final-section{
    display: flex;
    width: 70%;
    height: 85%;

}
.final-section-block{
    width: calc(100% / 4);
    height: 100%;
}
.bigger{
    width: 30%;
    height: 85%;
}
.main-sections h2{
    font-size: 50px
}
.main-sections p{
    font-size: 20px;
    margin-top: 20px;
    color: #232323;
}
/* big section */

.bigsection{
    text-align: center;
    height: 150%;
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;
}
.bigsection-content{
    height: 90%;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;   
}
.bigsection-img{
    height: 100%;
    width: 100%;
    background-image: url(../img/item4-big.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.sparks{
    font-weight: 600;
    font-size: 28px;
    height: 70px;
    width: 540px;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.button-blue{
    margin: 15px 0 30px 0;
    background-color: #8CA0E0;
    color: white;
    padding: 15px 25px;
    border-radius: 50px;
}
/* footer */

footer{
    height: 70px;
    width: 100%;
    background-color: #232323;

}
.footer-container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.footer-box{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-logo{
    height: 25px;
    width: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.footer-button{
    height: 25px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* debug */


.debug header{
    background-color: aqua;
}
.debug .small-header-sect{
    background-color: white;
}
.debug .big-header-sect{   
    background-color: rgb(133, 133, 133);
}

.debug .jumbotron{
    background-color: blue;
}
.debug .jumbotron-content{
   background-color: pink;
}
.debug .text-block{
    background-color: #05b6b6;
}
.debug .img-block{
    background-color: #be36a8;
}
.debug .final-section-block{
    background-color: #fff;
    border: 2px solid red;
}
.debug .bigger{
    background-color: #05b6b6;
}
.debug footer{    
    border-top: 2px dotted rgb(196, 196, 196);
}
.debug .footer-box{
    background-color: #b9b9b9;
}
.debug .bigsection-content{
    background-color: pink;
}
.debug .footer-logo{
    background-color: orange;
}
.debug .footer-button{
    background-color: orange;
}